<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
	

	<div class="container">
		<div class="col-md-4 mx-auto my-4">
		<h1>Create Question</h1>
			<form action="#" th:action="@{/questions}" th:object="${questions}" method="POST">
				<input type="hidden" name="id" th:value="${questions.id}">
				<div class="form-group">
					<label>Question : </label>
					<textarea class="form-control" rows="5" cols="20" th:field="*{questionText}"></textarea>
				</div>
				<div class="form-group">
					<label>Answer 1 : </label> <input class="form-control" th:field="*{ans1}" type="text">
				</div>
				<div class="form-group">
					<label>Answer 2 : </label> <input class="form-control" th:field="*{ans2}" type="text">
				</div>
				<div class="form-group">
					<label>Answer 3 : </label> <input class="form-control" th:field="*{ans3}" type="text">
				</div>
				<div class="form-group">
					<label>Answer 4 : </label> <input class="form-control" th:field="*{ans4}" type="text">
				</div>
				<div class="form-group">
					<label>Correct Answer</label><select class="form-control"
						th:field="*{correct}">
						<option value="ans1">1</option>
						<option value="ans2">2</option>
						<option value="ans3">3</option>
						<option value="ans4">4</option>
					</select>
				</div>
				<input class="btn btn-primary col-md-4 form-control" type="submit" value="Create">
			</form>
		</div>
	</div>
	
	<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
</body>
</html>