<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head::app-head">
</head>
<body>
	<div th:replace="fragments/navbar::app-navbar"></div>
	<section id="intro" class="d-flex justity-content-center align-items-center">
		<div class ="container text-center">
			<h1 id="welcome-text" class="display-4 text-white">Welcome to Online Exam</h1>
			<p id="secondary-text" class="lead text-white">Easiest way to test your skill everywhere and every time.</p>
			<div>
			<h4>Take Exam</h4>
			<a th:href="@{/exam/question}" class="btn btn-primary">Multiple Choice</a>
			<a th:href="@{/bexam/question}" class="btn btn-primary">Fill in the blank</a>
			</div> 
		</div>
	</section>
	
	<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
</body>
</html>